body{margin:0;font-family:sans-serif;background:#020617;color:#fff}
.center{display:flex;justify-content:center;align-items:center;height:100vh}
.card{background:#020617;padding:30px;border-radius:18px;width:300px;text-align:center}
input{width:100%;padding:10px;border-radius:8px;border:none;margin:10px 0}
button{padding:10px;border:none;border-radius:8px;background:#2563eb;color:#fff;width:100%}
button.alt{background:#22c55e}
header{display:flex;justify-content:space-between;padding:15px}
.add{position:fixed;bottom:20px;right:20px;width:auto}
.item{background:#020617;margin:10px;padding:14px;border-radius:12px;display:flex;justify-content:space-between}
